*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #180148;
    --primary-bg-color: #333740;
    --primary-color: #2c62f6;
    --text-color: #b1b8ca;
    --text-active: #ffffff;
    --button-hover-bg-color: #2b2e34;
    --border-color: #494d59;
    --dropdown-height: 0;
    --rotate-arrow: 0;
    --translate-value: 0;
    --list-opacity: 0;
    --transition-time: 0.4s;
    --transition-timig: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --border-raius: 1.2rem;
    --list--button-height: 4.6rem;
    --floating-icon-size: 26;
    --floating-icon-top: 0;
    --floating-icon-left: 0;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
    background-color: var(--bg-color);
    padding: 1.5rem;
    line-height: 1.4;
}

button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

i{
    font-size: 1.2rem;
}

.text__truncate{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown__container{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 34rem;
}

.dropdown__title__icon,.dropdown__arrow{
    display: inline-flex;
}

.dropdown__title{
    margin: 0 auto 0 1.8rem;
    text-transform: capitalize;
}

.dropdown__button{
    font-family: Glory, serif;
    font-weight: 400;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    padding: 0 1.8rem;
}

.dropdown__button i {
    transition: all var(--transition-time) var(--transition-timig);
    color: var(--text-color);
    padding: 1rem;
}
.dropdown__button i,
.dropdown__button span{
    pointer-events: none;
}

.dropdown__button:hover,
.dropdown__button:focus{
    color: var(--text-active);
}

.main__button{
    height: 5.2rem;
    border-radius: var(--border-raius);
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    border: 0.1rem solid var(--border-color);
    transition: all var(--transition-time) var(--transition-timig);
}

li.dropdown__list__item{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    opacity: var(--list-opacity);
    transition: opacity 0.8s var(--transition-timig);
}

.floating__icon{
    height: calc(var(--floating-icon-size)*1px);
    width: calc(var(--floating-icon-size)*1px);
    position: absolute;
    top: var(--floating-icon-top);
    left: var(--floating-icon-left);
    background-color: var(--background-color);
    border-radius: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.8s var(--transition-timig);
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.floating__icon i{
    color: var(--text-color);
}