:root{
    --image-height : 250px;
    --image-width : 250px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Glory, serif;
}

.carousel__section {
    min-height: 100vh;
    background: linear-gradient(356deg, rgba(255, 255, 255, 1) 13%, rgba(97, 0, 44, 0.112) 110%);
    display: grid;
    place-content: center;
}

.carousel__container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 150px;
    flex-direction: column;
    /* border: 1px solid red; */
}

.slide {
    position: absolute;
    width: var(--image-width);
    height: var(--image-height);
    background-color: bisque;
    border-radius: 50%;
    opacity: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    filter: drop-shadow(0px 6px 1rem black);
}

.slide:after {
    content: "";
    position: absolute;
    width: var(--image-width);
    height: var(--image-height);
    background-color: rgba(44, 44, 44, 0.15);
    border-radius: 50%;
    top: 0;
    left: 0;

}

.slide.active {
    opacity: 1;
    z-index: 99;
}

.slide.active:hover{
    border: 1px solid white;
    transform: scale(1.3);
}

.slide.active:hover:after{
    background-color: transparent;
}

.slide.prev {
    opacity: 0.25;
    z-index: 1;
    background-color: lightgreen;
    /*left: 0;*/
    transform: translate(-80%);
}

.slide.next {
    opacity: 0.25;
    z-index: 1;
    /*right: 0;*/
    transform: translate(80%);
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.carousel__controls{
    width: 80%;
    display: flex;
    justify-content: space-around;

}

button{
    padding: 1rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(0,0,0,0.4);
    font-weight: bolder;
    color: white;
    cursor: pointer;
    transition: background-color 500ms;
    z-index: 100;
}
button:hover{
    background-color: rgba(0,0,0,0.8);
}
.carousel__controls button{

}


@media only screen and (max-width: 770px) {
    :root{
        --image-height : 180px;
        --image-width : 180px;
    }

    .carousel__container{
        border: none;
        padding: 1rem;
    }
}

@media only screen and (max-width: 470px) {
    :root{
        --image-height : 120px;
        --image-width : 120px;
    }

    .carousel__section{
        background: #2b2e34;
        width: 100vw;
    }

    .carousel__container{
        width: 300px;
    }

    .carousel__controls button{
        padding: 0.6rem;
    }
}
