*{
  font-family: Glory;
  box-sizing: border-box;
}


.section{
  height: 100vh;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,300px));
  gap: 2rem;
  padding: 0.5rem;
  margin: 1rem;
}

figure{
  perspective: 700px;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
  }
  figcaption{
    padding: 0.5rem;
    background-color: #424B54;
    color: white;
    text-align: center;
    text-transform: uppercase;

  }
}

.card{
  transition: all 2s;
  opacity: 1;
}


.filter{
  order: 1;
  opacity: 0;
  visibility: hidden;
}


input[type='search']{
  padding: 1rem;
  font-family: 'Glory';
  outline: none;
  border: 2px solid #E2B4BD;
  min-width: 200px;
  transition: border 1s;
  margin: auto;
  display: block;
  &:focus{
    border: 3px solid #93A8AC;
  }
}